.terminal {
    --color: #FFFAF8;
    --background: #2D394D;
    --error-color: #DA3333;
    --link-color: #F44C7F;
    --line-thickness: 3;
    --font: Source Code Pro;
    --size: 1.4;
}

.cmd-cursor {
    --original-color: #F44C7F;
}