.terminal {
    --color: #E9ECF0;
    --background: #333A45;
    --error-color: #DA3333;
    --link-color: #F44C7F;
    --line-thickness: 3;
    --font: Source Code Pro;
    --size: 1.4;
}

.cmd-cursor {
    --original-color: #F44C7F;
}