.terminal {
    --color: #D8DEE9;
    --background: #242933;
    --error-color: #BF616A;
    --link-color: #88C0D0;
    --line-thickness: 3;
    --font: Source Code Pro;
    --size: 1.4;
}

.cmd-cursor {
    --original-color: #D8DEE9;
}