.terminal {
    --color: #FFFFFF;
    --background: #0058A3;
    --error-color: #E74040;
    --link-color: #FFCC02;
    --line-thickness: 3;
    --font: Source Code Pro;
    --size: 1.4;
}

.cmd-cursor {
    --original-color: #B5B5B5;
}